# Arquivos de byte compilado Python
__pycache__/
*.py[cod]

# Arquivos de backup
*~

# Arquivos de ambiente
.env

# Diretórios gerados
venv/
node_modules/

# Arquivos de log e dados
logs/
*.log
*.csv

# Arquivos de saída do IDE
.idea/

# Arquivos de build
build/
dist/
